/*securesubmit styles*/
iframe {
  width:100%;
}
.HPS_secure_ach {
  background-color:white !important;
}
#HPS_secure_ach input,
#HPS_secure_ach textarea,
#HPS_secure_ach select,
#HPS_secure_cc input {
  color:#333333;
}
.ss-shield {
  background: transparent url(../images/img/ss-shield@2x.png) no-repeat top left;
  height:50px;
  background-size:40px 40px;
}

#HPS_secure_ach input,
#HPS_secure_cc input {
  min-width:100%;
  font-size:small !important;
}
#HPS_secure_ach .ginput_cardinfo_right input.ginput_card_security_code {
  max-width:100%;
}

div.HPS_gform_card_icon {
  background: transparent url(../images/img/ss-shield@1x.png) no-repeat !important;
  background-size:250px 30px !important;
  width:540px !important;
  height:42px !important;
}

#HPS_secure_ach label,
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container #HPS_secure_ach label {
  margin-top:13px !important;
  margin-bottom:4px !important;
  text-transform:uppercase !important;
  font-family:sans-serif !important;
  font-size:13px !important;
  text-align:left;
  display:inline-block;
  display:-webkit-inline-box;
  height:18px !important;
  font-weight:500 !important;
}

#HPS_secure_ach label:first-of-type {
  margin-top:0px !important;
}

.HPS_gform_card_icon_container {
  height:42px !important;
}

#HPS_secure_ach input,
#HPS_secure_cc input {
  padding:15px !important;
}

#HPS_secure_ach input::-webkit-input-placeholder,
#HPS_secure_ach input::-moz-placeholder,
#HPS_secure_ach input:-ms-input-placeholder,
#HPS_secure_ach input:-moz-placeholder,
#HPS_secure_cc input::-webkit-input-placeholder,
#HPS_secure_cc input::-moz-placeholder,
#HPS_secure_cc input:-ms-input-placeholder,
#HPS_secure_cc input:-moz-placeholder {
  font-family:sans-serif !important;
  letter-spacing: 3px;
}

#HPS_secure_ach input,
#HPS_secure_cc input {
  font-size: small;
  height:48px !important;
  border:1px solid #b5b5b5 !important;
  text-transform:uppercase !important;
  background-color:transparent;
  border-radius:0px;
  font-family:sans-serif !important;
  letter-spacing:2px !important;
  outline:0;
  box-shadow:none;
}

#HPS_secure_ach select {
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  outline:1px solid transparent;
  background:transparent url(../images/img/down.png) no-repeat right;
  background-position-x:95%;
  background-size:16px;
  border:1px solid #b5b5b5;
  height:48px !important;
  padding:10px;
  text-transform:uppercase !important;
  background-color:transparent;
  font-family:sans-serif !important;
  letter-spacing:2px !important;
  font-size:small !important;
}

#HPS_secure_ach input:hover,
#HPS_secure_ach input:focus,
#HPS_secure_cc input:hover,
#HPS_secure_cc input:focus {
  border:1px solid #3989e3 !important;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  letter-spacing:2px !important;
}
#HPS_secure_ach select:hover,
#HPS_secure_ach select:focus {
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  outline:1px solid transparent;
  border:1px solid #3989e3;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#HPS_secure_ach input[type=submit] {
  background-color:#3989e3;
  color:white;
  padding:10px;
  font-size:14px;
  font-weight:400;
  vertical-align:middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select:none;
  user-select:none;
  border-radius:0px;
  border:1px solid #2e6da4;
}

/*error message*/
li div.hps_secure_ach ~ div.validation_message,
li div.hps_secure_ach  div.validation_error,
li.gfield_error
{
  font-family:sans-serif !important;
  font-weight:500 !important;
  font-size:15px !important;
  padding:10px !important;
  background-color:white !important;
}

#gp-error {
  border: 1px #ce1025 solid !important;
  background: #ce1025 !important;
  font-family:sans-serif !important;
  font-weight:500 !important;
  font-size:15px !important;
  padding:10px !important;
  color:white !important;
}

li.gfield_error div.ginput_complex.ginput_container.ginput_container_creditcard.hps_secure_ach label {
  color:#333333 !important;
}

li div.hps_secure_ach ~ div.gfield_description.validation_message {
  background-color:#ce1025 !important;
  color:white !important;
  border:1px solid #9f0123;
  margin:10px 0px 10px 0px;
  line-height:25px;
}

#credit-card-card-holder {
  letter-spacing: 3px;
  box-sizing: border-box;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 48px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#credit-card-card-holder:focus {
  border: 1px solid #1670BE;
  box-shadow: 0 0 1px #1670BE;
  outline-offset: 0px;
  outline: none;
}

.red {
  color:#ce1025 !important;
  padding-left:3px;
  font-size:20px !important;
  font-weight:700 !important;
}

#HPS_secure_ach .gform_card_icon_container {
  height:0px !important;
  margin:0px !important;
}

@media only screen and (min-width: 641px) {


  #HPS_secure_ach .ginput_accountinfo_left {
    padding-right:10px;
  }

  #HPS_secure_ach .ginput_accountinfo_left,
  #HPS_secure_ach .ginput_accountinfo_right {
    display:inline;
    width:50%;
    float:left;
  }

  li div.hps_secure_ach ~ div.gfield_description.validation_message {
    margin:100px 0px 10px 0px;
  }

  #HPS_secure_ach div.HPS_gform_card_icon {
    background: transparent url(../images/img/ss-shield@1x.png) no-repeat !important;
    background-size:320px 40px !important;
    width:540px !important;
    height:42px !important;
  }

  #HPS_secure_ach .ginput_cardinfo_right {
    width:50% !important;
    padding-left:5px;
  }

  #HPS_secure_ach .ginput_cardinfo_left {
    padding-right:5px;
  }

  #HPS_secure_ach label {
    font-size:14px !important;
    height:25px !important;
  }
}

.ginput_container #HPS_secure_cc span.red,
.ginput_container #HPS_secure_cc label {
  display:inline-block !important;
}

#HPS_secure_cc iframe {
  float:left;
  width:100%;
}
.iframeholder {
  height:50px;
  width:100%;
}
.ie8 form .iframeholder {
  padding:10px;
}
.iframeholder::after {
  content:'';
  display:block;
  width:100%;
  height:0px;
  clear:both;
  position:relative;
}
.ie8 form .form-group {
  margin-bottom:5px;
}
#iframesCardExpiration,
#iframesCardCvv {
  margin-bottom:14px;
}
label[for=iframesCardHolder],
label[for=iframesCardNumber],
label[for=iframesCardExpiration],
label[for=iframesCardCvv]{
  text-transform:uppercase !important;
  font-weight:500 !important;
  font-size:14px !important;
  color:#000000 !important;
  margin-bottom:0px !important;
  font-family:sans-serif !important;
}
.ie8 form label {
  padding-left:10px;
  margin:0px;
}
#heartland-frame-cardExpiration,
#heartland-frame-cardCvv,
#heartland-frame-cardNumber,
.ie8 #heartland-frame-cardExpiration,
.ie8 #heartland-frame-cardCvv,
.ie8 #heartland-frame-cardNumber {
  width:100%;
}
.btn-primary {
  display:block;
  border-radius:0px;
  font-size:18px;
  float:right;
  background-color:#36b46e;
  border:1px solid #2a8d56;
  margin-bottom:10px;
  width:100%;
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #2a8d56;
}
.ie8 .btn-primary {
  width:15%;
}
.red {
  margin-left:2px;
  font-size:17px !important;
}

@media screen and (min-width:767px) {
  #secure-submit-date.form-group,
  #secure-submit-cvv.form-group{
    display:inline-block;
    width:48%;
  }
  #secure-submit-cvv.form-group {
    float:right;
  }
  #heartland-frame-cardNumber {
    width : 100%;
  }
}
@media screen and (min-width:450px) {
  .btn-primary,
  .ie8 .btn-primary {
    width:10em;
  }
}
